body {
    margin: 0 auto;
}

.navbar {
    background: #333333;
    height: 10vh;
    width: 100%;
    float: left;
}

nav a {
    position: relative;
    text-decoration: none;
    color: white;
    padding-left: 30px;
    top: 30px;
    font-size: 22px;
}

.content {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
}

h1 {
    font-size: 50px;

}

.left-col, .right-col {
    width: 50%;
    position: relative;
}

.left-col {
    float: left;
    padding: 25px;
}

.image {
    background: lightgray;
    height: 30%;
}

.right-col {
    float: right;
    padding: 25px;
}

footer {
    width: 100%;
    height: 10vh;
    background: #333333;

}